# No Park to Go

### Almost 6 years after Hurricane María Struck the archipielago of Puerto Rico, my community of Santa Juana, in the center-eastern town of Caguas, still waits for the reparation of its cultural center and its park.

In [19]:
import pandas as pd

In [20]:

#I want to know how much money from FEMA has been disbursed for projects for reconstruction 
# of parks and recreational facilities in the municipalities of Puerto Rico and what other facilities are in the same 
#situation as my community
#data downloaded from the Puerto Rico Disaster Recovery Transparency Portal

df = pd.read_csv('Table1_Obligated_Projects.csv')

In [21]:
df.head()

,pw_number,version,disaster_name,applicant_name,applicant_abbreviation,applicant_type,FEMA_branch,sector,category,pw_description,obligated_date,latest_payment _date,obligated_amount,disbursed_amount,cost_share,project_cost,last_update_date
0,PA-02-PR-4339-PW-00862,0,Hurricane Maria (4339),Aguada,NaN,Municipality,Branch II - North,Municipalities,"Category G - Parks, Recreational, Others",107804 - MAOM999 - Architectural and Engineeri...,12/03/2018,NaN,1838887,0,204321,2043208,06/20/2023
1,PA-02-PR-4339-PW-00862,1,Hurricane Maria (4339),Aguada,NaN,Municipality,Branch II - North,Municipalities,"Category G - Parks, Recreational, Others",107804 - MAOM999 - Architectural and Engineeri...,06/16/2020,NaN,-1838887,0,-204321,-2043208,06/20/2023
2,PA-02-PR-4339-PW-00863,0,Hurricane Maria (4339),Las Marías,NaN,Municipality,Branch IV - South,Municipalities,"Category G - Parks, Recreational, Others",107827 - MLAS999 Architectural and Engineering...,12/03/2018,NaN,1056622,0,117402,1174024,06/20/2023
3,PA-02-PR-4339-PW-00863,1,Hurricane Maria (4339),Las Marías,NaN,Municipality,Branch IV - South,Municipalities,"Category G - Parks, Recreational, Others",107827 - MLAS999 Architectural and Engineering...,10/28/2020,NaN,-1056622,0,-117402,-1174024,06/20/2023
4,PA-02-PR-4339-PW-00865,0,Hurricane Maria (4339),Cabo Rojo,,Municipality,Branch IV - South,Municipalities,"Category G - Parks, Recreational, Others",69209 - MCAB999 Architectural and Engineering ...,10/16/2018,NaN,397426,0,44158,441584,06/20/2023

### Checking the data

In [22]:
df.shape

(2339, 17)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2339 entries, 0 to 2338
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   pw_number               2339 non-null   object
 1   version                 2339 non-null   int64
 2   disaster_name           2339 non-null   object
 3   applicant_name          2339 non-null   object
 4   applicant_abbreviation  146 non-null    object
 5   applicant_type          2339 non-null   object
 6   FEMA_branch             2339 non-null   object
 7   sector                  2339 non-null   object
 8   category                2339 non-null   object
 9   pw_description          2339 non-null   object
 10  obligated_date          2339 non-null   object
 11  latest_payment _date    1568 non-null   object
 12  obligated_amount        2339 non-null   int64
 13  disbursed_amount        2339 non-null   int64
 14  cost_share              2339 non-null   int64
 15  project_cost            2339 non-null   int64
 16  last_update_date        2339 non-null   object
dtypes: int64(5), object(12)
memory usage: 310.8+ KB

In [24]:
# The Category G of FEMA's Public Assistance Program groups all obligated the projects related to parks 
# and recreational facilities.

#### How many projects are in the Category G of FEMA's Public Assistance?

In [27]:
df.category.value_counts

<bound method IndexOpsMixin.value_counts of 0       Category G - Parks, Recreational, Others
1       Category G - Parks, Recreational, Others
2       Category G - Parks, Recreational, Others
3       Category G - Parks, Recreational, Others
4       Category G - Parks, Recreational, Others
                          ...
2334    Category G - Parks, Recreational, Others
2335    Category G - Parks, Recreational, Others
2336    Category G - Parks, Recreational, Others
2337    Category G - Parks, Recreational, Others
2338    Category G - Parks, Recreational, Others
Name: category, Length: 2339, dtype: object>

#### Puerto Rico has a total of 78 municipalities. How many municipalities have projects?

In [29]:
#That information is in the column "Applicant Name"
df.applicant_name.value_counts()

applicant_name
Ponce           126
San Juan        113
Juana Díaz      110
Arecibo          98
Santa Isabel     97
               ...
Florida           9
Humacao           9
Naranjito         6
Culebra           5
Yauco             5
Name: count, Length: 78, dtype: int64

In [ ]:
#All municipalities have projects. Ponce is the municipality with the most projects.

### Cleaning
#### It seems like some projects have more than one version. For each project, the higher number under the column "version" is the most recent version. That's the version I want to use.

In [ ]:
#Filter the rows based on the maximum values in column version each unique string in column pw_number
#Save all of them in a variable
#Make a new csv with only this data

In [39]:
#Filter the rows based on the maximum values in column version each unique string in column pw_number
most_recent_pwversion = df.loc[df.groupby('pw_number')['version'].idxmax()]
most_recent_pwversion.head()

,pw_number,version,disaster_name,applicant_name,applicant_abbreviation,applicant_type,FEMA_branch,sector,category,pw_description,obligated_date,latest_payment _date,obligated_amount,disbursed_amount,cost_share,project_cost,last_update_date
1,PA-02-PR-4339-PW-00862,1,Hurricane Maria (4339),Aguada,NaN,Municipality,Branch II - North,Municipalities,"Category G - Parks, Recreational, Others",107804 - MAOM999 - Architectural and Engineeri...,06/16/2020,NaN,-1838887,0,-204321,-2043208,06/20/2023
3,PA-02-PR-4339-PW-00863,1,Hurricane Maria (4339),Las Marías,NaN,Municipality,Branch IV - South,Municipalities,"Category G - Parks, Recreational, Others",107827 - MLAS999 Architectural and Engineering...,10/28/2020,NaN,-1056622,0,-117402,-1174024,06/20/2023
5,PA-02-PR-4339-PW-00865,1,Hurricane Maria (4339),Cabo Rojo,,Municipality,Branch IV - South,Municipalities,"Category G - Parks, Recreational, Others",69209 - MCAB999 Architectural and Engineering ...,06/02/2020,NaN,-397426,0,-44158,-441584,06/20/2023
7,PA-02-PR-4339-PW-00867,1,Hurricane Maria (4339),Lajas,NaN,Municipality,Branch IV - South,Municipalities,"Category G - Parks, Recreational, Others",107844 - MLAJ999 Architectural and Engineering...,02/09/2021,NaN,-507175,0,-56353,-563528,06/20/2023
9,PA-02-PR-4339-PW-00868,1,Hurricane Maria (4339),Rincón,NaN,Municipality,Branch II - North,Municipalities,"Category G - Parks, Recreational, Others",107857 - MRIN999 Architectural and Engineering...,06/07/2020,NaN,-1005670,0,-111741,-1117411,06/20/2023

In [40]:
#Confirming I don't have pw_numbers repeated.
most_recent_pwversion.pw_number.value_counts()

pw_number
PA-02-PR-4339-PW-00862    1
PA-02-PR-4339-PW-06776    1
PA-02-PR-4339-PW-06827    1
PA-02-PR-4339-PW-06820    1
PA-02-PR-4339-PW-06819    1
                         ..
PA-02-PR-4339-PW-04456    1
PA-02-PR-4339-PW-04455    1
PA-02-PR-4339-PW-04454    1
PA-02-PR-4339-PW-04451    1
PA-02-PR-4339-PW-11370    1
Name: count, Length: 2006, dtype: int64

In [54]:
# Save most recent version into a new csv files.

most_recent_pwversion.to_csv('clean_Table1_Obligated_Projects.csv')

In [55]:
dfc = pd.read_csv('clean_Table1_Obligated_Projects.csv')

In [58]:
#Now I have a cleaned dataframe, so I can answer the questions.
dfc.tail()

,Unnamed: 0,pw_number,version,disaster_name,applicant_name,applicant_abbreviation,applicant_type,FEMA_branch,sector,category,pw_description,obligated_date,latest_payment _date,obligated_amount,disbursed_amount,cost_share,project_cost,last_update_date
2001,2334,PA-02-PR-4339-PW-11158,0,Hurricane Maria (4339),Manatí,NaN,Municipality,Branch II - North,Municipalities,"Category G - Parks, Recreational, Others",107768 - P107768-DR4339PR-MANATI-PARQUE PELOTA...,01/03/2023,01/11/2023,6314,6314,702,7016,06/20/2023
2002,2335,PA-02-PR-4339-PW-11161,0,Hurricane Maria (4339),Ponce,NaN,Municipality,Branch IV - South,Municipalities,"Category G - Parks, Recreational, Others",79986 - MPON826- Julio E. Monagas Park (Global),01/19/2023,NaN,8781159,0,975684,9756843,06/20/2023
2003,2336,PA-02-PR-4339-PW-11322,0,Hurricane Maria (4339),Río Grande,NaN,Municipality,Branch III - East,Municipalities,"Category G - Parks, Recreational, Others",106112 - (Escuela Vega ALEGRE-)MRIO005 - Proje...,05/15/2023,NaN,3158805,0,350978,3509783,06/20/2023
2004,2337,PA-02-PR-4339-PW-11324,0,Hurricane Maria (4339),San Sebastián,NaN,Municipality,Branch II - North,Municipalities,"Category G - Parks, Recreational, Others",110370 - MSSM056-Multiple Recreational Parks a...,04/19/2023,05/08/2023,5734,5734,637,6371,06/20/2023
2005,2338,PA-02-PR-4339-PW-11370,0,Hurricane Maria (4339),Río Grande,NaN,Municipality,Branch III - East,Municipalities,"Category G - Parks, Recreational, Others",105669 - Palmer Recreational & Community Facil...,05/29/2023,NaN,856580,0,95176,951756,06/20/2023

### Data Analysis

In [65]:
# What is the total amount obligated?

total_obligated = dfc["obligated_amount"].sum()
total_obligated

741637301

In [64]:
# What is the total amount disbursed?
total_disbursed = dfc["disbursed_amount"].sum()
total_disbursed

116420836

In [66]:
# What percent is that?
total_disbursed / total_obligated * 100

15.697812912460291

In [67]:
#What is the percent of amount disbursed for each project? Save it into a new column.
dfc.disbursed_amount / dfc.obligated_amount

0      -0.0
1      -0.0
2      -0.0
3      -0.0
4      -0.0
       ...
2001    1.0
2002    0.0
2003    0.0
2004    1.0
2005    0.0
Length: 2006, dtype: float64

In [70]:
dfc["percent disbursed"] = dfc.disbursed_amount / dfc.obligated_amount

In [72]:
dfc.tail()

,Unnamed: 0,pw_number,version,disaster_name,applicant_name,applicant_abbreviation,applicant_type,FEMA_branch,sector,category,pw_description,obligated_date,latest_payment _date,obligated_amount,disbursed_amount,cost_share,project_cost,last_update_date,percent disbursed
2001,2334,PA-02-PR-4339-PW-11158,0,Hurricane Maria (4339),Manatí,NaN,Municipality,Branch II - North,Municipalities,"Category G - Parks, Recreational, Others",107768 - P107768-DR4339PR-MANATI-PARQUE PELOTA...,01/03/2023,01/11/2023,6314,6314,702,7016,06/20/2023,1.0
2002,2335,PA-02-PR-4339-PW-11161,0,Hurricane Maria (4339),Ponce,NaN,Municipality,Branch IV - South,Municipalities,"Category G - Parks, Recreational, Others",79986 - MPON826- Julio E. Monagas Park (Global),01/19/2023,NaN,8781159,0,975684,9756843,06/20/2023,0.0
2003,2336,PA-02-PR-4339-PW-11322,0,Hurricane Maria (4339),Río Grande,NaN,Municipality,Branch III - East,Municipalities,"Category G - Parks, Recreational, Others",106112 - (Escuela Vega ALEGRE-)MRIO005 - Proje...,05/15/2023,NaN,3158805,0,350978,3509783,06/20/2023,0.0
2004,2337,PA-02-PR-4339-PW-11324,0,Hurricane Maria (4339),San Sebastián,NaN,Municipality,Branch II - North,Municipalities,"Category G - Parks, Recreational, Others",110370 - MSSM056-Multiple Recreational Parks a...,04/19/2023,05/08/2023,5734,5734,637,6371,06/20/2023,1.0
2005,2338,PA-02-PR-4339-PW-11370,0,Hurricane Maria (4339),Río Grande,NaN,Municipality,Branch III - East,Municipalities,"Category G - Parks, Recreational, Others",105669 - Palmer Recreational & Community Facil...,05/29/2023,NaN,856580,0,95176,951756,06/20/2023,0.0

In [75]:
# For how many projects, the disbursed amount is 0?
dfc.disbursed_amount.value_counts()

disbursed_amount
0        868
7311       2
41081      2
83610      2
6724       2
        ...
63283      1
18776      1
25768      1
97706      1
5734       1
Name: count, Length: 1131, dtype: int64

In [84]:
# Now, I can say "The recovery projects of Santa Juana —the cultural center and the park— are two of 868 projects 
# in the town of Caguas that have been obligated but the funds haven’t been disbursed.
# But I also want to know specifically the percent of money disbursed for every municipality, 
# so I can compare my town of Caguas with the others.

obligated_by_municipality = dfc.groupby(by='applicant_name').obligated_amount.sum()
obligated_by_municipality

applicant_name
Adjuntas         2688692
Aguada            850742
Aguadilla       12787286
Aguas Buenas     8351125
Aibonito         5738765
                  ...
Vega Baja       12216073
Vieques          4032875
Villalba        16857887
Yabucoa         40297453
Yauco            9071989
Name: obligated_amount, Length: 78, dtype: int64

In [85]:
disbursed_by_municipality = dfc.groupby(by='applicant_name').disbursed_amount.sum()
disbursed_by_municipality

applicant_name
Adjuntas          270050
Aguada            482249
Aguadilla         706210
Aguas Buenas      164222
Aibonito         1226098
                  ...
Vega Baja        1664874
Vieques           499090
Villalba         7603623
Yabucoa         12249123
Yauco              40519
Name: disbursed_amount, Length: 78, dtype: int64

In [91]:
percent_of_disbursed_by_mun = disbursed_by_municipality / obligated_by_municipality * 100
percent_of_disbursed_by_mun

applicant_name
Adjuntas        10.043917
Aguada          56.685693
Aguadilla        5.522751
Aguas Buenas     1.966466
Aibonito        21.365189
                  ...
Vega Baja       13.628553
Vieques         12.375539
Villalba        45.104247
Yabucoa         30.396767
Yauco            0.446639
Length: 78, dtype: float64

In [92]:
percent_of_disbursed_by_mun.sort_values(ascending=False)

applicant_name
Maricao        77.206756
Camuy          64.506968
Peñuelas       61.560056
Aguada         56.685693
Villalba       45.104247
                 ...
Juana Díaz      0.763736
Yauco           0.446639
Naranjito       0.000000
Hormigueros     0.000000
Fajardo         0.000000
Length: 78, dtype: float64

In [103]:
# What about Caguas?
dfCaguas = pd.read_csv('Table2_Caguas_Obligated_Projects.csv')

dfCaguas.head()

,pw_number,version,disaster_name,applicant_name,applicant_abbreviation,applicant_type,FEMA_branch,sector,category,pw_description,obligated_date,latest_payment _date,obligated_amount,disbursed_amount,cost_share,project_cost,last_update_date
0,PA-02-PR-4339-PW-02929,0,Hurricane Maria (4339),Caguas,NaN,Municipality,Branch III - East,Municipalities,"Category G - Parks, Recreational, Others",85722 - MCAG008 Cañaboncito Parcelas - Basketb...,05/18/2020,06/02/2020,40002,40002,4445,44447,06/20/2023
1,PA-02-PR-4339-PW-03290,0,Hurricane Maria (4339),Caguas,NaN,Municipality,Branch III - East,Municipalities,"Category G - Parks, Recreational, Others",85724 - MCAG009 Pozo Dulce - Basketball Court,05/18/2020,06/03/2020,21885,21885,2432,24317,06/20/2023
2,PA-02-PR-4339-PW-04008,0,Hurricane Maria (4339),Caguas,NaN,Municipality,Branch III - East,Municipalities,"Category G - Parks, Recreational, Others",85720 - MCAG007 Borinquen Parcelas Viejas - Ba...,07/17/2020,08/10/2020,27835,27835,3093,30928,06/20/2023
3,PA-02-PR-4339-PW-04158,0,Hurricane Maria (4339),Caguas,NaN,Municipality,Branch III - East,Municipalities,"Category G - Parks, Recreational, Others",106961 - MCAG076 - AOB Sport Complex - Covered...,10/08/2020,NaN,1388521,0,154280,1542801,06/20/2023
4,PA-02-PR-4339-PW-04261,0,Hurricane Maria (4339),Caguas,NaN,Municipality,Branch III - East,Municipalities,"Category G - Parks, Recreational, Others",108165 - MCAG156 - Yldefonso Morales Baseball ...,08/31/2020,06/13/2023,3799469,2469725,422163,4221632,06/20/2023

In [104]:
#How many obligated projects does Caguas has?
dfCaguas.applicant_name.value_counts()


# Is Caguas doing better or worst than the rest of Puerto Rico?
#Average para la suma de los 78 municipios
#Caguas

# How many days have passed?

applicant_name
Caguas    45
Name: count, dtype: int64

In [106]:
# What is the total amount obligated for Caguas?
Caguas_total_obligated = dfCaguas["obligated_amount"].sum()
Caguas_total_obligated

25120272

In [107]:
# What is the total amount disbursed?

Caguas_total_disbursed = dfCaguas["disbursed_amount"].sum()
Caguas_total_disbursed


# For how many projects, the disbursed amount is 0?
#How does that compare with the average in Puerto Rico?

3003583

In [108]:
# What percent is that?
Caguas_total_disbursed / Caguas_total_obligated * 100

11.95680922563259

In [110]:
# For how many projects, the disbursed amount is 0?
dfCaguas.disbursed_amount.value_counts()

disbursed_amount
0          37
40002       1
21885       1
27835       1
2469725     1
202211      1
60788       1
165462      1
15675       1
Name: count, dtype: int64